
<div class="container-fluid main-content">
    <div class="row">
      <section [ngClass]="showAddProduct ? 'col-md-7' : 'col-md-12'">
        <div class="product-header">
          <h1>Product List
             <!-- <span *ngIf="!isLoading" (click)="refresh()" style="cursor: pointer;">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
              </span>
              <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>-->
          </h1>
          <button
            *ngIf="!showAddProduct"
            type="button"
            class="btn btn-outline-primary"
            (click)="showAddProducts()"
          >
            Add Product
          </button>
          <button
            *ngIf="showAddProduct"
            type="button"
            class="btn btn-outline-primary"
            (click)="hideAddProducts()"
          >
            Close Products
          </button>
          <button *ngIf="!showtable" class="btn_sht" type="button" (click)="enabletablecomponent()">Show details
          </button>
          <!--<button *ngIf="showtable" class="btn_sht" type="button" (click)="disabletablecomponent()">hide details </button>-->
        </div>
   
      </section>
      <section class="col-md-5" *ngIf="showAddProduct || boolupdate">
        <app-add-product (submitevent)= "getProducts()", [boolupdate_addproduct]="boolupdate",[idForUpdateProduct_addproduct]="idForUpdateProduct_product" ></app-add-product>
      </section>
      <section *ngIf="showtable && !showAddProduct">
        <app-table-product [productarray]="products", (boolvaluevent)="disabletablecomponent()", (boolvalueupdate)="enableupdate($event)"></app-table-product>
      </section>
    </div>
  </div>
  
