<p>showproduct works!</p>
<div>
    <ul >
        <li>ProductId:
            <span>{{choosedProductById.id}}</span>
        </li>
        <li>ProductName:
            <span>{{choosedProductById.productName}}</span>
        </li>
        <li>Description:
            <span>{{choosedProductById.description}}</span>
        </li>
        <li>Brand:
            <span>{{choosedProductById.brand}}</span>
        </li>
        <li>ExpireDate:
            <span>{{choosedProductById.expiredDate}}</span>
        </li>
        <li>ManufacturedDate:
            <span>{{choosedProductById.manufacturedDate}}</span>
        </li>
        <li>CreatedDate:
            <span>{{choosedProductById.createdDate}}</span>
        </li>
        <li>Quantity:
            <span>{{choosedProductById.quantity}}</span>
        </li>
        <li>UnitPrice:
            <span>{{choosedProductById.unitPrice}}</span>
        </li>

    </ul>
</div>
   